

  <footer class="footer">
    <div class="myContainer">
      <img src="images/logo.png" alt="logo">
      <h3>Author: Leesin</h3>
      <h4>Phone Number: 0959 567 889</h4>
      <h4>Email: Leesin@yasuo.com</h4>
    </div>
  </footer>
  <!-- <a href="https://pngimage.net/tourism-logo-png/" title="Image from PNG Image"><img src="https://pngimage.net/wp-content/uploads/2018/06/tourism-logo-png.png" alt="tourism logo png"></a> -->
</body>
</html>