<nav class="hero__header hero__header--black">
  <div class="myContainer hero__header-content">
    <div class="hero__left">
      <img src="images/logo.png" alt="logo">
    </div>
    <ul class="hero__right">
      <li class="hero__item light">
        <a href="/" class="light">Home</a>
      </li>
      <li class="hero__item light">
        <a href="/about" class="light">About</a>
      </li>
      <li class="hero__item light">
        <a href="/tours" class="light">Tours</a>
      </li>
      <li class="hero__item light">
        <a href="/booking" class="light">Booking</a>
      </li>
      <li class="hero__item hero__item--signin">
        <a href="/admin">Your account</a>
      </li>
    </ul>
  </div>
</nav>