.btn--join {
  padding: .8rem 2.3rem;
  border-radius: 50rem;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--join::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 50rem;
  position: absolute;
  top: 0rem;
  left: 0;
  z-index: -1;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.btn--join:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.btn--join:hover::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(72, 185, 123, 0.5), rgba(196, 209, 78, 0.75)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: 1;
}

.hero__header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: .5rem;
}

.hero__header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__left img {
  height: 5rem;
}

.hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.hero__right li {
  margin: 0;
  position: relative;
}

.hero__right li:not(:last-child) {
  margin-right: 2.7rem;
}

.hero__right li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.hero__right li::before {
  content: "";
  height: .3rem;
  width: 100%;
  background-color: #c4d14e;
  position: absolute;
  bottom: -.7rem;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero__right li:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hero__heading {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: .55rem;
}

.hero__desc {
  line-height: 4rem;
  letter-spacing: .15rem;
  font-size: 1.45rem;
  font-weight: 400;
}

.myContainer {
  max-width: 1149px;
  margin: 0 auto;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem !important;
  margin-bottom: 5rem;
}

.about__left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 5rem;
}

.about__left h3 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.about__left h3:hover {
  padding: .7rem 1.2rem;
  background-color: #48b97b;
  color: white;
}

.about__left p {
  line-height: 1.6;
  text-align: justify;
}

.about__right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.about__right img {
  height: 95%;
  border-radius: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.about__right img:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 3px 4px 21px -5px rgba(0, 0, 0, 0.48);
          box-shadow: 3px 4px 21px -5px rgba(0, 0, 0, 0.48);
}
/*# sourceMappingURL=main.css.map */