<%- include('includes/heading', {title: title}) %>
<%- include('includes/navbar') %>
  <div style="margin-bottom: 10rem;"></div>
  <div class="container" style="margin-bottom: 5rem">
    <h3>ABOUT US</h3>
    <hr>
    <div class="d-flex">
      <div class="mr-4">
        <p >
          I promise you are going to enjoy your stay here in San Jose, Los Cabos. This is a beautiful, quiet city where you can relax, sit by the beach, enjoy great meals and feel very safe. You can walk into town and enjoy the fountains or take a moonlit walk along the water. Please do not swim here. This is not a safe place to swim because there is a strong undertow. Cabos San Lucas is the place to go if you want to enjoy swimming in the ocean. You can take a short bus ride from your hotel. There you will also enjoy entertainment and dancing.
        </p>
        <p>Suntan tours offers a variety of special discounts depending on your travel plans. We have golf packages, as well as guided whale boat tours, and fishing charters. There will be a short information session at 1pm in the lobby of the hotel tomorrow where you can learn all about these offers. We recommend that you do not purchase packages from street vendors as they are not always 100 percent reliable. They also may charge you more than what they say. Please take my advice and allow Suntan tours to book all of your day trips and activities while you are here.</p>
        <h5> -- From My Love - Lisa -- </h5>
      </div>  
      <img src="images/beach.jpg" alt="beach" height="400">
  
    </div>
  </div>

<%- include('includes/footing.ejs') %>