.footer {
  background-color: #a0e7c0;
  color: #0f535c;
  display: flex;
  align-items: center;
  padding: 4rem 0;
  img {
    height: 10rem;
    margin-bottom: 1.2rem;
  }

  .myContainer {
    text-align: center;
  }
}