
.btn {

  &--join {
    padding: .8rem 2.3rem;
    border-radius: 50rem;
    border: none;

    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    transition: all .2s;

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      background-color: #fff;
      border-radius: 50rem;
      position: absolute;
      top: 0rem;
      left: 0;
      z-index: -1;
      transition: all .7s;
    }

    &:hover {
      transform: translateY(-.5rem);
    }

    &:hover::before {
      transform: scale(1.5);
      opacity: 0;
    }
  }
}